body{
margin: auto;
padding: auto;
}
#submit {
justify-content: center;
position: absolute;
width: 94%;
border-radius:5px;
outline: none;
cursor: pointer;
}
.fa.fa-eye{
float: right;
margin-top:-20px;
margin-right:8px;
color: green;
cursor: pointer;
}
.fa.fa-eye:hover{
transform: scale(1.5);
}
#keyworld{
margin-left: 10px;
}
#imgpreview{
width:47vh;
border-radius: 10px;
margin-top:5px;
}